@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #F6F6F6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.nav-logo {
  position: relative;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 7px;
    margin-left: 10px;
    transition: transform 0.25s ease-in-out;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-logo:not(:hover) {
  transform: scale(1);
}

.nav-logo-text {
  font-weight: 800;
  font-size: 18px;
}

.nav-link {
  color: #989FAC;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nav-link-selected {
  color: black;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.link-to-scale {
  transition: transform 0.25s;
}

.link-to-scale:hover {
  transform: scale(1.25);
}

.link-to-scale:not(:hover) {
  transform: scale(1); /* Taille normale lorsque l'objet n'est pas en hover */
}

.nav-user {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.mobile-menu {
  border-radius: 1rem;
}

.auth-button {
  background-color: #30C1BD;
  border-radius: 0.5rem;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: 10rem;
}

.auth-button-text {
  color: white;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.page-title {
  font-size: 3rem;
  font-weight: bolder;
}

.page-number {
  font-size: 3rem;
  font-weight: lighter;
  color:rgba(0, 0, 0, 0.625)
}

.handle-product-button {
  background-color: #30C1BD;
  border-radius: 0.5rem;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  width: 7rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.25s;
}

.handle-product-text {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}

.handle-product-image {
  color: white;
}

.handle-product-button:hover {
  transform: scale(1.1);
}

.handle-product-button:not(:hover) {
  transform: scale(1);
}
